<div ng-controller="ProjectsCtrl">
	<div ng-repeat="project in projects">
		<img src="{{ project.image }}" id="projects"><br><br><br>
		<strong><p class="text-center">{{project.description}}</p>
		<p class="text-center">{{project.tech}}</p></strong><br>
		<div class="links">
			<a class="btn btn-default" ng-if="project.live" href="{{project.live}}" target="_blank" role="button">Live</a>
			<a class="btn btn-default" ng-if="project.github" href="{{project.github}}" target="_blank" role="button">Github</a><br><br><br>	
		</div>
	</div>		
</div>
