<div ng-controller="ProjectsCtrl">
	<div class="container">
		<div class="row">
			<div ng-repeat="project in projects">
					<div class="col-md-4 project-col">
						<div class="card">
						  <img src="{{ project.image }}" class="img-responsive">
						  <div class="card-block text-center">
						    <h4 class="card-title">{{ project.name }}</h4>
						    <p class="card-text">{{project.description}}</p>
						    <p class="card-text">{{project.tech}}</p>
						    <a class="btn btn-default" ng-if="project.live" href="{{project.live}}" target="_blank" role="button">Live</a>
								<a class="btn btn-default" ng-if="project.github" href="{{project.github}}" target="_blank" role="button">Github</a>
						  </div>
						</div>
					</div>	
			</div>
		</div>	
	</div>	
</div>
