/*/* app css stylesheet */

.menu {
  background-color: #D3D3D3;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 1em;
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

.btn-default, p, h4 {
  font-family: 'Cairo', sans-serif;
}

.project-col {
  margin-top: 5em;
  /*margin-bottom: 5em;*/
}

.image{
  padding-top: 30px;
}

.project-content {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 40px;
  padding-right: 40px;
}

.btn-lg {
  margin-top: 15px; 
  color: black !important; 
}

span {
  font-family: 'Cairo', sans-serif;
  color: black;
}

span:after {
  content: "|";
}

.fa {
  margin-top: 35px; 
  width: 20px !important;
  height: 20px !important;
}

footer {
    margin-top: 140px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #D3D3D3;
    height: 100px;
}


