/*/* app css stylesheet */

.menu {
  background-color: #D3D3D3;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 3em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

.btn-default, p, h4 {
  font-family: monospace;
}

.project-col,
.aboutme-card {
  margin-top: 5em;
  margin-bottom: 5em;
}

#link-size {
  margin-left: 5em; 
}




