<div ng-controller="PhotographyCtrl"> 

	<div class="container">

		<div class="container">
			<div class="row">
				<div id="link-size" ng-repeat="category in categories">
					<div class="col-xs-3 text-center">
						<a class="btn btn-default" href="" ng-click="setCurrentCategory(category)" role="button">{{category.title}}</a>	
					</div>	
				</div><br><br>	
			</div>
		</div>

		<div class="row">
			<div class="images" ng-repeat="image in images | filter:{category:currentCategory.title}">
				<div class="col-md-6">
					<img src="{{ image.image }}" class="img-responsive"/>	
				</div>	
			</div>
		</div>

	</div>

	<footer class="text-center">
		<span>connect with me </span> 
		<a href="mailto:stacyareas@gmail.com" target="_blank" type="button" class="btn-floating btn-lg btn-email"><i class="fa fa-envelope"></i></a>

		<a href="https://www.linkedin.com/in/stacyareas/" target="_blank" type="button" class="btn-floating btn-lg btn-li"><i class="fa fa-linkedin"></i></a>

		<a href="https://github.com/stacy89" target="_blank" type="button" class="btn-floating btn-lg btn-git"><i class="fa fa-github"></i></a>
	</footer>

</div>	
	


